@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  margin: 16px;
  background-color: #fff;
  border: 1px solid #cbd5e0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  padding: 32px;
  min-width: 600px;
}

input {
  padding: 10px 0;
  border-radius: 0.125rem;
  border: 1px solid rgb(226, 232, 240);
  background-color: #fdfdfe;
  padding-inline-start: 0.75rem;
  font-size: 0.875rem;
  margin: 0 0 16px 8px;
  min-width: 400px;
}

button {
  background-color: #3b82f6;
  color: white;
  padding: 8px 16px;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #2563eb;
}

.status-connected {
  border: 1px solid #10b981;
  background-color: #10b981;
  border-radius: 9999px;
  width: 8px;
  height: 8px;
  margin-right: 8px;
}

.status-disconnected {
  border: 1px solid #ef4444;
  background-color: #ef4444;
  border-radius: 9999px;
  width: 8px;
  height: 8px;
  margin-right: 8px;
}
